<div class="bg-maroon pl-[8rem] h-[4.5rem] fixed top-0 left-0 right-0 flex items-center">
   <div class="bg-maroon rounded-full inline-block absolute left-0 top-0" title="Home" onclick="window.location = '/'">
      <img class="p-4 mt-2 h-[7.5rem] w-[7.5rem]" src="Assets/bruin.svg" alt="Bruin" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });">
   </div>
   <div>
      <p class="fracture-link mx-6 text-white text-2xl font-montserrat inline-block font-semibold">Arts</p>
      <p class="fracture-link mx-6 text-white text-2xl font-montserrat inline-block font-semibold">Athletics</p>
      <p class="fracture-link mx-6 text-white text-2xl font-montserrat inline-block font-semibold">Features</p>
      <p class="fracture-link mx-6 text-white text-2xl font-montserrat inline-block font-semibold">Humor</p>
      <p class="fracture-link mx-6 text-white text-2xl font-montserrat inline-block font-semibold">Lifestyle</p>
      <p class="fracture-link mx-6 text-white text-2xl font-montserrat inline-block font-semibold">Opinion</p>
      <p class="fracture-link mx-6 text-white text-2xl font-montserrat inline-block font-semibold">Spotlight</p>
   </div>
   <div class="absolute right-0">
      <p class="rotate-link mr-4 text-white text-2xl font-montserrat inline-block">Contact</p>
      <p class="rotate-link mr-8 text-white text-2xl font-montserrat inline-block">About</p>
   </div>
</div>