<div class="navigation bg-maroon h-[3.5rem] fixed top-0 left-0 right-0 flex justify-center" style="transition: .2s">
   <div class="nav-img bg-maroon h-[5.8rem] w-[5.8rem] rounded-full block fixed bottom-[88vh]" title="Hi!! Here I am, an innocent little title tag. You won't notice me unless you a) are looking for me b) accidentally left your cursor here or c) are patient enough to wait, which most people nowadays won't do on a website. Anyhow! 💖 Editor Rust" style="transition: .2s">
      <img class=" p-3 h-[6rem] w-[6rem]" src="Assets/bruin.svg" alt="Bruin" onclick="toggleNavigation()">
   </div>
   <div class="navigationStuff h-[88vh] hidden text-center overflow-auto">
      <p class="m-5 text-white text-2xl font-montserrat font-semibold">Home</p>
      <p class="m-5 text-white text-2xl font-montserrat font-semibold">Arts</p>
      <p class="m-5 text-white text-2xl font-montserrat font-semibold">Athletics</p>
      <p class="m-5 text-white text-2xl font-montserrat font-semibold">Features</p>
      <p class="m-5 text-white text-2xl font-montserrat font-semibold">Humor</p>
      <p class="m-5 text-white text-2xl font-montserrat font-semibold">Lifestyle</p>
      <p class="m-5 text-white text-2xl font-montserrat font-semibold">Opinion</p>
      <p class="m-5 text-white text-2xl font-montserrat font-semibold">Spotlight</p>
      <p class="m-2 mt-20 text-white text-2xl font-montserrat">Contact</p>
      <p class="m-2 text-white text-2xl font-montserrat">About</p>
      <style>
         .rotate-link:hover {
            pointer-events: fill;
            transform: rotateX(360deg);
            transition: .4s;
         }
      </style>
   </div>
   <div class="absolute right-0">
   </div>
</div>